body{
    
    background-size: cover;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    text-align: center;
    
}
.header{
    display: flex;
    background-color: skyblue;
    justify-content: space-around;
}
.header-menu{
    display: flex;
    list-style: none;
    align-items: center;  
}
.univdisplay{
    margin:auto;
    font-size:40px;
}



.header-menu li{
padding: 20px;
font-size: 20px;
margin:5px;
border-radius: 8px;
border:5px solid rgb(211, 211, 212);
}
.main-container{
    font-size: 15px;
    line-height: 20px;

}

#container {
    width: 100%;
    display: grid; /* グリッドレイアウト */
    
    grid-template-rows: 100px 100px 100px 100px 100px;
    grid-template-columns: 15% 5% 60% 5% 15%;
    
    justify-content: center;
}


#itemA {
    grid-row: 1 / 6;
    grid-column: 1 / 2;
    background: #f88;
}
#itemB {
    grid-row:1 / 6;
    grid-column: 2 / 4;
    background: #8f8;
}
#itemC {
    grid-row: 1 / 6;
    grid-column: 4 / 6;
    background: #88f;
}

#asobicontainer{
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin:10px;
}